/* font use */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* common style area */
body {
    margin:0px;
    font-family: 'Poppins', sans-serif;
}

/* main area content football cup */
.container {
    background-color: black;
    margin: 40px 115px 0px 115px;
    border-radius: 25px;
    height: 550px;
}

.football-cup {
    display: flex;
}

.football-content {
    width: 50%;
    width: 450px;
    height: 437px;
    color: white;
    margin: 90px 15px 10px 93px;
}

.football-content p {
    font-size: 14px;
    color: #ececec;
}

.football-news {
    font-size: 55px;
    margin: 0;
}

.watch-live {
    background-color: red;
    margin-right: 300px;
    padding: 10px 0px;
    border-radius: 5px;
    margin-top: 25px;
}

.watch-live a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 18px;
}

.football-player img {
    width: 50%;
    Width: 480px;
    Height: 518px;
    margin-top: 32px;
}

/* ---blogs start----- */
.player-videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 115px;
}

.click-btn-area {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 280px;
    height: 300px;
    background-color: black;
    margin: 9px 8px 10px 15px;
    border-radius: 10px;
}

.match {
    border-radius: 8px;
    text-align: center;
    background-color: #ececec;
    padding-top: 18px;
    margin: 20px 25px 20px 25px;

}

.blog-small {
    background-color: red;

}

.blog-small a {
    color: white;
}

.match a {
    text-decoration: none;
    color: black;
}

.blog-start {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player-live {
    border: 1px solid #ececec;
    height: 323px;
    margin: 6px;
    border-radius: 10px;

}

.player-live img {
    height: 175px;
    width: 253px;
    margin-bottom: 10px;
}

.player-live a {
    border: 1px solid black;
    text-decoration: none;
    margin-left: 20px;
    padding: 0px 8px;
    font-size: 16px;
    color:white;
}

.player-live p {
    font-size: 14px;
    margin-left: 20px;
}

.icons {
    display: flex;
}

.player-live .icon {
    width: 22px;
    height: 22px;
    margin-left: 20px;

}

.player-live .hour {
    margin: 0px 10px 0px 8px;
}

.player-live .hour {
    margin-bottom: 50px;
}

.player-live .chat-icon {
    width: 22px;
    height: 22px;
    margin-left: 20px;
    margin-top: 2px;
}

/* This is foooter area--- */
.last-goal {
    background-color: black;
    height: 280px;
    padding-top: 70px;
}

.last-goal h1 {
    text-align: center;
    color: white;
}

.last-goal hr {
    color: #b8b6b6;
    margin: 0px 120px 50px 120px;
}

.footer-menu {
    display: inline;
    margin-left: 250px;
    margin-bottom: 100px;

}

.last-goal a {
    margin-left: 50px;
    color: #b8b6b6;
    text-decoration: none;
    font-size: 13px;
}

.social-icon {
    margin-left: 550px;
    
}

.fa-facebook {
    color: #4267B2;
    padding: 20px;
    
}

.fa-instagram {
    color:  #E1306C;
    padding: 20px;
    
}

.fa-linkedin {
    color: #0072b1 ;
    padding: 20px;
    
}
/* --comme 
@media screen and (max-width:480px) {
    .container {
        margin: 40px 20px 0px 120px;
        border-radius: 10px;
        height: 472px;
        width:334px;
    }
    .football-content {
        width: 100%;;
        height: 178px;
        margin: 90px 15px 10px 93px;
    }
    .football-cup {
        display: inline;
    }
    .football-player img {
        width: 100%;
        Width: 233px;
        Height: 245px;
        margin-top: 32px;
    }
}
 */

 @media only screen and(max-width:400px;) {
    .player-videos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        margin: 
    }
 }